.profile__edit-button {
  min-width: 24px;
  height: 24px;
  background-image: url(../../../images/Edit.svg);
  background-color: unset;
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: center;
  border: 1px solid #FFFFFF;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 570px) {
  .profile__edit-button {
    min-width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
  }
}
